:root {
    --red: #ed6e58
}

* {
    box-sizing: border-box;
}

img {
    width: 200px;
}

figure {
    margin-left: auto;
    color: black;
}

figure:hover {
    background-color: var(--red);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    padding: 15px;
}

main {
   
    background-color: antiquewhite;
    padding: 5px 10px 5px 10px;
}

header {
    background-color: var(--red);
    padding: 15px 15px 20px 15px;
        
}

header a {
    color: black;
    text-decoration: none;
    background-color: #e64427;
    padding: 4px;
    border-radius: 5px;
    border: 2px solid black;
    
}

header a:hover {
    background-color: #e8b9b0;
    border: 2px solid white;
}

figure {
    padding: 10px;
    background-color: whitesmoke;
    display: inline-block;

}

label {
    
    display: inline-block;
    width: 100px;
   
}

.radio {
    
    display: inline;
    
}

form div {
    margin: 5px;
}

table {
    font-size: 3em;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  }

td {
    padding: 10px;
}

td:hover {
    background-color: var(--red);
    cursor: crosshair;
}

footer, 
footer a {
    color: white;
}

a[href="#top"] {
    color: black;
    background-color: var(--red);
    text-decoration: none;
    padding: 3px;
    font-weight: bold;
    font-size: 1.25em;
    border-radius: 2px;
    
}

a[href="#top"]:hover {
    border-radius: 4px;
    box-shadow: 10px 5px 5px red;
    padding: 5px;
    
}‚

.up {
    margin-top: 35px;
}